* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6; /* Mejora la legibilidad */
    background-color: #ffffff;
    height: 200vh;
}

header {
    background-image: url(imagenes/prueba.jpg);
    height: 700px;
    background-size: cover;
    background-position: left;
    background-attachment: fixed; /* Fija el fondo */
    background-repeat: no-repeat;
    padding: 40px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(129, 127, 127, 0.5); /* Capa oscura */
}

.img-header {
    position: relative;
    width: 200px;
    height: auto;
    animation: borderRotation 10s infinite alternate ease-in-out;
    z-index: 100; /* Asegura que la imagen esté por encima de la capa oscura */   
}

@keyframes borderRotation {
    0% {
        border-radius: 25% 50%;
    }
    25% {
        border-radius: 50% 25%;
    }
    50% {
        border-radius: 75% 50%;
    }
    75% {
        border-radius: 50% 75%;
    }
    100% {
        border-radius: 25% 50%;
    }
}

nav{
    display: flex;
    background: rgba(0,0,0,2);
    background: linear-gradient(to right, #000000ed, #343534ed);
    text-align: center;
    position: fixed;
    width: 100%;
    height: 70px;
    top: 0;
    z-index: 1000;
    justify-content: space-around;
    align-items: center;

}

nav a {
    position: relative;
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    border: solid 11px transparent;
    animation: fadeIn 1.2s ease-in-out;

}

nav a::after{
    content: "";
    position: absolute; 
    bottom: -5px; 
    left: 50%; 
    transform: translateX(-50%); 
    width: 0; /* Oculto inicialmente */
    height: 0; /* Oculto inicialmente */
    background-color: #050505; /* Color del círculo */
    border-radius: 50%; /* Mantén el círculo redondo */
    transition: all 1s ease; /* Suaviza la animación */
}

nav a:hover::after {
    width: 10px;
    height: 10px;
}

nav a.active {
    color: #aef8ae;
    border-radius: 10px;
    border-top: solid 11px transparent;
	border-right: solid 11px transparent;
	border-bottom: solid 11px #2dad5e;
	border-left: solid 11px transparent;
    transition: all 0.5s ease;
}

.titulo-principal {
    position: relative;
    font-family: 'Roboto', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 1.2px;
    background: linear-gradient(to right, #00ff22, #00ff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    
    margin: 0 auto;
    animation: fadeIn 1.2s ease-in-out;
    z-index: 3;
}

@keyframes fadeIn {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}


header p {
    position: relative;
    z-index: 2;
    width: 300px;
    font-size: large;
    text-align: justify;
    color: #ffffff;
}



@keyframes textEffect {
    0% {
        transform: scale(1);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
    25% {
        transform: scale(1.05);
        text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.6);
        opacity: 0.9;
    }
    50% {
        transform: scale(1.1);
        text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.7);
        opacity: 0.8;
    }
    75% {
        transform: scale(1.05);
        text-shadow: 0px 6px 6px rgba(0, 0, 0, 0.6);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
        opacity: 1;
    }
}

.container {
    width: 90%;
    margin: 50px 0;
    justify-self: anchor-center;
    overflow: hidden;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 15px 1px 100px rgba(0, 0, 0, 0.2);
}

h2 { 
    padding: 60px 0 0 0;
    color: #2190eb; 
    border-bottom: 2px solid #333333;
    padding-bottom: 10px;
    font-size: 2rem; /* Tamaño de fuente más grande */
    font-weight: 600; /* Fuente en negrita para mayor énfasis */
    letter-spacing: 1px; /* Espaciado entre letras para mejor legibilidad */
    text-transform: uppercase; /* Para un toque más estilizado */
    transition: all 0.3s ease-in-out; /* Efecto de transición suave */
}

h2:hover {
    color: #1e6db3; /* Un color más oscuro para el texto cuando se pasa el ratón */
    border-color: #1e6db3; /* Cambiar el color del borde también */
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); /* Agregar sombra al texto */
    transform: translateY(-5px); /* Efecto sutil de desplazamiento hacia arriba */
}

.service{
    margin: 1rem auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service-item {
    width: 300px;
    height: 300px;
    display: flex;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background: #fff;
    flex-direction: column;
    align-items: center;
    transition: width .5s ease-out, margin .5s ease-out, border .3s ease-in-out;
}

.service-item:hover {
    border: 3px solid #333; /* Se hace más grueso el borde al pasar el ratón */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Se añade un sutil resplandor */
}

.container-item{
    width: 330px;
    text-align: justify;
}
    
.service-item h3 {
    color: #333333;
}

.service-item p{
    padding: 15px;
}


.servicio-card {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease;
  }
  
  .servicio-card:hover {
    transform: translateY(-5px);
  }
  
  .servicio-card h3 {
    font-size: 1.3rem;
    color: #0077ff;
    margin-bottom: 0.5rem;
  }
  
  .servicio-card p {
    color: #333;
    line-height: 1.5;
  }
  
       
/* Estilo para la sección de recomendaciones */
#recomendaciones {
    padding: 20px 20px;
    background-color: #f4f4f4;
    text-align: center;
}

.carousel {
    display: flex;
    gap: 30px;
    height: 200px;
    scrollbar-width: thin;
    flex-wrap: wrap;
    justify-content: center;
    overflow-x: auto;
}

.recommendation-item {
    height: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: left;
}

.recommendation-item h3 {
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.recommendation-item p {
    width: 250px;
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
}


#recomendaciones h2 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 20px;
}


@media (max-width: 768px) {
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .recommendation-item {
        width: 90%;
    }
}

  
#ejemplos {
    padding: 40px;
    background-color: #f9f9f9; /* Color de fondo */
}
        
.ejemplos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espacio entre las tarjetas */
    justify-content: center; /* Centrar las tarjetas */
}

#ejemplos h2{
    padding: 20px 0 10px 0;
}
        
.ejemplos-item {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: calc(40% - 5px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
        
.ejemplos-item img {
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0; 
}
        
.ejemplos-item h3 {
    margin: 15px 0 10px;
    font-size: 1.5em;
}
        
.ejemplos-item p {
    margin: 0 0 15px;
}
        
.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #2dad5e; /* Color del botón */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
        
.btn:hover {
    background-color: #1a6d3f; /* Color más oscuro al pasar el mouse */
}
        
.ejemplos-item:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
}

.ejemplos, .recommendations {
    margin: 20px 0;
    padding: 10px;
    border-radius: 5px;
    background: #D3D3D3; 
}       

.social-icons {
    /* height: 800px; */
    margin-top: 20px;
}

.facebook {
    text-decoration: none;
    font-size: 60px; /* Tamaño del ícono */
    color: #3f7bfe; /* Color azul de Facebook */
    transition: color 0.3s ease; /* Transición suave */
}

.facebook:hover {
    color: #8db1fb; /* Color al pasar el mouse */
}

.linkedin {
    text-decoration: none;
    font-size: 60px; /* Tamaño del ícono */
    color: #3f7bfe; /* Color azul de Facebook */
    transition: color 0.3s ease; /* Transición suave */
}

.linkedin:hover {
    color: #8db1fb; /* Color al pasar el mouse */
}

.whatsapp {
    text-decoration: none;
    font-size: 60px; 
    color: #09b506;
    transition: color 0.3s ease;
}

.whatsapp:hover {
    color: #89b788; 
}

.circle-container{
    width: auto;
    height: 600px;
}

.circle{
    display: flex;
    height: 100%;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 50px;
    gap: 10%;
    align-items: center;
    justify-content: space-evenly;
}

.circle p{
    padding: 0 0 0 30px;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
}

.bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
}

.bar div {
    background: #00796b;
    height: 20px;
    border-radius: 5px;
    text-align: right;
    padding-right: 5px;
    color: white;
}

.bar-container {
    width: 100%;
    background: #eee;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: linear-gradient(to right, #000000ed, #272727ed);
    color: white;
    position: relative;
    bottom: 0;
    width: 100%;
}

.whatsapp-button {
    position: fixed;
    bottom: 50px; 
    right: 50px; 
}

.whatsapp-button a {
    border-radius: 50px;
    text-decoration: none; 
    color: #25D366; 
    font-size: 50px; 
}

/* Estilos generales de la sección */
#contacto {
    background-color: #f8f8f8;
    padding: 40px 0;
    text-align: center;
}

/* .container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
} */

/* Título y texto intro */
/* h2 {
    color: #008C6C;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;
} */

.intro-text {
    color: #666;
    font-size: 1rem;
    margin-bottom: 40px;
    line-height: 1.6;
}

/* Formulario de contacto */
.contact-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

.contact-form h3 {
    font-size: 1.8rem;
    color: #008C6C;
    margin-bottom: 20px;
}

.contact-form label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

/* Estilos para los campos de entrada */
.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    color: #333;
}

.contact-form textarea {
    resize: vertical;
}

/* Estilos para las preferencias de contacto */
.contact-preference label {
    display: -webkit-inline-box;
    margin-right: 20px;
    font-size: 1rem;
    color: #333;
}

/* Estilos para el botón de envío */
.contact-form button {
    padding: 12px 20px;
    background-color: #008C6C;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contact-form button:hover {
    background-color: #006a4d;
}

/* Estilos para los enlaces de redes sociales */
.social-links {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.social-link {
    font-size: 2.5rem;
    color: #333;
    transition: color 0.3s, transform 0.3s;
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #fff;
    border: 2px solid #ddd;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-link:hover {
    color: #fff;
    transform: scale(1.2);
}

.facebook:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.linkedin:hover {
    background-color: #0077b5;
    border-color: #0077b5;
}

.whatsapp:hover {
    background-color: #25d366;
    border-color: #25d366;
}

/* Iconos de redes sociales (FontAwesome) */
.fab {
    color: inherit;
    font-size: 1.5rem;
}

.whatsapp-button .fab {
    color: inherit;
    font-size: 4rem;
}


@media screen and (max-width: 700px) {
    header {
        flex-direction: column;
        height: 600px;
        text-align: justify;
    }

    nav a {
        font-size: 10px;
    }

    nav a.active {
        color: #aef8ae;
        border-radius: 10px;
        border-right: solid 5px transparent;
        border-bottom: solid 5px #2dad5e;
        border-left: solid 5px transparent;
        transition: all 0.5s ease;
    }

    .ejemplos-item {
        padding: 10px;
        width: calc(100% - 1px);
        text-align: center;
        font-size: 10px;
        transition: transform 0.3s;
    }

    .social-icons{
        height: auto;
    }

    .circle{
        margin: 50px 0 0 0;
    }

    
    #recomendaciones h2 {
        color: #333;
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
}       
